# OpenAI
OPENAI_API_KEY=
OPENAI_MODEL_NAME=gpt-4o-mini

# ChromaDB
LOCAL_DATABASE=false
CHROMA_HOST=localhost       # use "chromadb" when running via docker-compose
CHROMA_PORT=8000
CHROMA_DATABASE_NAME=default_database
CHROMA_TENANT=default_tenant
CHROMA_COLLECTION_NAME=knowledge
